body {
  overflow: hidden; /*Hide scrollbars */
  margin: 0;
  padding: 0;
}

.creazioneRapportiniFlex,
.creazioneTicketsFlex {
  gap: 1rem;
}

.toolbarRichiesta {
  margin-top: 1rem;
}

#main---tickets--tablePage-main,
#main---tabellaRapportini--tablePage-main,
#main---cestinoRapportini--tablePage-main,
#main---cestinoTickets--tablePage-main {
  overflow-x: hidden;
  overflow-y: auto;
}
